@model bacit_dotnet.MVC.Models.TeamModel

<div class="container">
    <form action="/suggestions/save" method="post">
        <div class="row">
            <div class="col-25">
                <label for="Title">Tittel</label>
                <input type="text" required="required" oninvalid="this.setCustomValidity('Vennligst skriv en ordentlig tittel')" oninput="this.setCustomValidity('')"name="Title" />
            </div>
        </div>
        <li>
            <label for="Name">Navn</label>
            <input type="text" required="required" oninvalid="this.setCustomValidity('Vennligst fyll inn navn :-)')" oninput="this.setCustomValidity('')"name="Name" />
        </li>
        <li>
            <label for="Description">Beskrivelse</label>
            <input type="text" required="required" oninvalid="this.setCustomValidity('Vennligst beskriv forslaget')" oninput="this.setCustomValidity('')" name="Description" />
        </li>
        <li>
            <label for="Team">Team</label>
            <select name=Team id=Team>
                
                    @foreach (var team in Model.Teams)
                {
                   <option value="@team.teamId">@team.teamName</option>
                }
        </li>
    <input type="submit" value="Lagre" />
    </form> 
</div>
