@model bacit_dotnet.MVC.Models.SuggestionModel

<html>
    <head>
        <meta charset="utf-8">
        <title>Input From UI Design</title>
        <link rel="stylesheet" href="~/css/StyleLogin.css" asp-append-version="true" />      
    </head>
<html>    
    <body>
        <div class="box">
            <h2>Login</h2>
            <form>
                <div class="inputBox">
                    <input type="text" name="username" required="required">
                    <label>Brukernavn</label>
                </div>
                <div class="inputBox">
                    <input type="password" name="password" required="required">
                    <label>Passord</label>
                </div>
                <input type="button" name="input" value="Login" onclick="location.href = 'Suggestions/ViewSug';">
            </form>
        </div>
    </body>
</html>

        