@model bacit_dotnet.MVC.Models.SuggestionModel

<html>
    <head>
        <title>
            Login Form Design
        </title>
            <link rel="stylesheet" href="~/css/StyleLogin.css" asp-append-version="true" />      
        <body>
            <div class="LoginBox">
                <h1>Login Here</h1>
                <form>
                    <p>Brukernavn</p>
                    <input type="text" name="" placeholder="Skriv Brukernavn Her" required="required">
                    <p>Passord</p>
                    <input type="Passord" name="" placeholder="Skriv Passord Her" required="required">
                    <input type="Fortsett" value="Login" onclick="location.href = 'Suggestions/ViewSug';">
                    <a href="#">Glemt Passord?</a><br>
                    <a href="#">Registrer Ny Bruker</a>                 
                    </form>
            </div>
        </body>
    </head>
 </html>
