@model bacit_dotnet.MVC.Models.SuggestionModel
<link rel="stylesheet" href="~/css/sugIndex.css" asp-append-version="true" />

<h1>AnssattRegistrering</h1>

<div class="container">
    <form action="/Users/Save" method="post">
        <div class="row">
            <div class="col-l">
                <label for="FirstName">FirstName</label>
            </div>
            <div class="col-i">
                <input type="text" required="required" oninvalid="this.setCustomValidity('Obligatorisk')" oninput="this.setCustomValidity('')" placeholder="FirstName" name="FirstName" />
            </div>
        </div>

        <div class="row">
            <div class="col-l">
                <label for="LastName">Last Name</label>
            </div>
            <div class="col-i">
                <input type="text" required="required" oninvalid="this.setCustomValidity('Obligatorisk')" oninput="this.setCustomValidity('')" placeholder="LastNavn" name="LastName" />
            </div>
        </div>

        <div class="row">
            <div class="col-l">
                <label for="Password">Passord</label>
            </div>
            <div class="col-i">
                <input type="Password" required="required" oninvalid="this.setCustomValidity('Obligatorisk')" oninput="this.setCustomValidity('')"placeholder="Passord" name="Password" />
            </div>
        </div>
            <div class="row">
            <div class="col-l">
                <label for="Email">Email</label>
            </div>
            <div class="col-i">
                <textarea type="text" required="required" oninvalid="this.setCustomValidity('Obligatorisk')" oninput="this.setCustomValidity('')" placeholder="Email" name="Email"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-l">
                <label for="Phone">Phone</label>
            </div>
            <div class="col-i">
                <textarea type="text" required="required" oninvalid="this.setCustomValidity('Obligatorisk')" oninput="this.setCustomValidity('')" placeholder="Phone" name="Phone"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-l">
                <label for="Team">Team</label>
            </div>
            <div class="col-i">
                <select name=Team id=Team>
                
                   @foreach (var team in Model.Teams)
                {
                   <option value="@team.teamId">@team.teamName</option>
                }  
            </div>
        </div>
        <br>
        <div class="row">
                <input type="submit" value="Lagre" /> 
        </div>
    </form> 
</div>
