<form action="/Teams/Save" method="post">
    <ul>
        <li>
            <label for="teamName">Teamnavn</label>
            <input name="teamName" type="text" required="required" oninvalid="this.setCustomValidity('skriv et ordentlig teamnavn')" />
        </li>
    </ul>
    <input type="submit" value="Lagre" />
</form>