@model bacit_dotnet.MVC.Models.TeamModel
<link rel="stylesheet" href="~/css/viewTeam.css" asp-append-version="true" />

<h1 id="teamHeader">
    Teamliste
</h1>
<ul id="teamUl">
    @foreach (var team in Model.team) 
    {
        <li>
            <div>
                <h3 class="teamLi">@team.teamName</h3>
            </div>
        </li>
    }

</ul>