@model bacit_dotnet.MVC.Models.SuggestionModel

<h1>
    Teamliste
</h1>
<ul>
    @foreach (var team in Model.Teams) 
    {
        <li>
            <div>
                <h3>@team.teamName</h3>
            </div>
        </li>
    }

</ul>