@model bacit_dotnet.MVC.Models.TeamModel
<link rel="stylesheet" href="~/css/viewTeam.css" asp-append-version="true" />

<h1>
    Teams
</h1>

<div class="flex-container">
    @foreach (var team in Model.team) 
    {
        <div>
            <h3>@team.teamName</h3>
        </div>
    }
</div>