@model bacit_dotnet.MVC.Models.TeamModel
<link rel="stylesheet" href="~/css/viewTeam.css" asp-append-version="true" />

<h1>
    Teams
</h1>

<div class="flex-container">
    @foreach (var team in Model.team) 
    {
         <input type="hidden" name="id" value=@team.teamId> 
        <div>
            <h3>@team.teamName</h3>
            <a href="/Teams/TeamUser?id=@team.teamId"><button type="button" id="knapp1">Se Ansatt i Team</button></a>
        </div>
    }
</div>